body {
  font-family: sans-serif;
}

.store {
  margin: 30px auto;
}

.span6 {
  padding-left: 10px;
  margin-left: 90px;
  max-width: 50%;
  float: left;
  height: 100%;
}

.span6:last-child {
  border-left: 1px solid #ddd;
}

td, th {
  padding: 4px;
}

tbody tr:nth-child(even) {
  background-color: #cdcdcd;
  line-height: 1.8em;
}

tbody tr:nth-child(odd) {
  background-color: #bcbcbc;
}

table {
  background-color: #eee;
  border: 1px solid #bbb;
}

tbody tr {
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

#grocery_list tr:last-child {
  color: #5CB614;
  text-decoration: underline;
  font-weight: bold;
}
