<div class="store">
  <div class="span6">
    <h2>Store List</h2>
    <table>
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody id="store_list">

      </tbody>
    </table>
  </div>

  <div class="span6">
    <h2>My Grocery List</h2>
    <table>
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody id="grocery_list">

      </tbody>
    </table>
  </div>
</div>
